* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #d1d7db;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  width: 360px;
  height: 640px;
  background: #efeae2;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  overflow: hidden;
}

/* HEADER */
.chat-header {
  background: #075e54;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-header .left {
  display: flex;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  background: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-right: 10px;
}

.user-info .name {
  font-size: 15px;
  font-weight: 600;
}

.user-info .status {
  font-size: 12px;
  opacity: 0.8;
}

/* CHAT BODY */
.chat-body {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  background-image: url("/assets/bg1.jpg");
}


/* MESSAGE */
.sent, .received {
  display: flex;
  margin-bottom: 8px;
}

.sent {
  justify-content: flex-end;
}

.received {
  justify-content: flex-start;
}

.bubble {
  max-width: 70%;
  padding: 8px 10px;
  border-radius: 8px;
  position: relative;
  font-size: 14px;
}

.sent .bubble {
  background: #dcf8c6;
  border-top-right-radius: 0;
}

.received .bubble {
  background: white;
  border-top-left-radius: 0;
}

.time {
  display: block;
  font-size: 10px;
  color: #555;
  margin-top: 4px;
  text-align: right;
}

/* FOOTER */
.chat-footer {
  background: #f0f0f0;
  padding: 8px;
  display: flex;
  align-items: center;
}

.chat-footer input {
  flex: 1;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
}

.chat-footer button {
  margin-left: 10px;
  background: #25d366;
  color: white;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  cursor: pointer;
  font-size: 16px;
}
