body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: linear-gradient(135deg, #e0f7ff, #ffffff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 1100px;
  height: 700px;
  background: white;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 20px 60px rgba(0,0,0,0.1);
}

/* SIDEBAR */

.sidebar {
  width: 300px;
  background: #f8fbff;
  border-right: 1px solid #e6eef5;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.search-box input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #d0e3f7;
}

.search-box button {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  cursor: pointer;
}

.user-item {
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: 0.2s;
}

.user-item:hover {
  background: #eaf5ff;
}

.groups-section {
  margin-top: 20px;
}

.groups-section h3 {
  margin-bottom: 10px;
}

/* CHAT SECTION */

.chat-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 20px;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  font-weight: 600;
}

.chat-body {
  flex: 1;
  padding: 25px;
  overflow-y: auto;
  background: #f5faff;
}

.sent {
  text-align: right;
  margin-bottom: 10px;
}

.received {
  text-align: left;
  margin-bottom: 10px;
}

.bubble {
  display: inline-block;
  padding: 12px 18px;
  border-radius: 20px;
  max-width: 60%;
  font-size: 14px;
}

.sent .bubble {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
}

.received .bubble {
  background: white;
  border: 1px solid #e3f1ff;
}

.chat-footer {
  padding: 15px;
  display: flex;
  border-top: 1px solid #e6eef5;
}

#msgInput {
  flex: 1;
  padding: 12px 15px;
  border-radius: 25px;
  border: 1px solid #d0e3f7;
}

#sendBtn {
  margin-left: 10px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: none;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
  font-size: 16px;
  cursor: pointer;
}


.image-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  animation: fadeIn 0.2s ease;
}

.image-modal img {
  max-width: 85%;
  max-height: 85%;
  border-radius: 15px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
  animation: zoomIn 0.2s ease;
}

#closeModal {
  position: absolute;
  top: 25px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes zoomIn {
  from { transform: scale(0.8); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
