* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background: #e5ddd5;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 900px;
  height: 600px;
  background: white;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: #111b21;
  color: white;
  overflow-y: auto;
}

.user-item {
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #222;
}

.user-item:hover {
  background: #2a3942;
}

/* Chat Section */
.chat-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-header {
  padding: 15px;
  background: #075e54;
  color: white;
}

.chat-body {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  background: #efeae2;
}

.chat-footer {
  padding: 10px;
  display: flex;
  background: #f0f2f5;
}

#msgInput {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  outline: none;
}

#sendBtn {
  margin-left: 10px;
  padding: 10px 15px;
  border-radius: 50%;
  border: none;
  background: #25d366;
  color: white;
  cursor: pointer;
}

/* Messages */
.sent {
  text-align: right;
  margin-bottom: 10px;
}

.received {
  text-align: left;
  margin-bottom: 10px;
}

.bubble {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 60%;
}

.sent .bubble {
  background: #dcf8c6;
}

.received .bubble {
  background: white;
}
